template(name='staff')
    .ui.stackble.padded.grid 
        .row 
            .ui.header staff
        .four.column.row 
            .ui.icon.header 
                i.plus.icon
                |CU Marketplace
            .ui.icon.header 
                i.lock.icon
                |Request System Access
            .ui.icon.header 
                i.money.icon
                |CU Marketplace
            .ui.icon.header 
                i.shopping.cart.icon
                |CU Marketplace
            .ui.icon.header 
                i.shopping.cart.icon
                |CU Boulder Jobs
