template(name='staff')
    .ui.stackble.padded.grid 
        .row 
            .ui.header staff
        .ui.four.cards 
            a.ui.card
                .content
                    .ui.icon.header 
                        i.plus.icon
                        |CU Marketplace
            a.ui.card
                .content
                    .ui.icon.header 
                        i.lock.icon
                        |Request System Access
            a.ui.card
                .content
                    .ui.icon.header 
                        i.money.icon
                        |CU Marketplace
            a.ui.card
                .content
                    .ui.icon.header 
                        i.shopping.cart.icon
                        |CU Marketplace
            a.ui.card
                .content
                    .ui.icon.header 
                        i.shopping.cart.icon
                        |CU Boulder Jobs
